@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
   
}

    <div class="container col-md-12">
        <h2>Transaction Fee Calculator:</h2>

        <form method="post" class="form-group row">
            <div class="col-md-6">
                <label class="sr-only" for="inlineFormInputGroup">Transfer Amount</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">&#8358;</div>
                    </div>
                    <input asp-for="Amount" class="form-control" id="inlineFormInputGroup" placeholder="Amount" value="Amount">
                    <span asp-validation-for="Amount"></span>
                </div>
                <button type="submit" class="btn btn-primary">Calculate</button>
            </div>

        </form>
       

    </div>
